[
  {
    "labels": {
      "job": "systemd",
      "env": "prod",
      "region": "eu"
    },
    "targets": [
      "10.10.10.11:9443",
      "10.10.10.12:9443",
      "10.10.10.13:9443"
    ]
  }
]
